<?xml version="1.0"?>
<ruleset name="LCTER WooCommerce Points Loyalty">
    <description>WordPress Coding Standards for the plugin.</description>
    <file>includes</file>
    <file>lcter-wc-points-loyalty.php</file>
    <file>uninstall.php</file>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg value="sp"/>
    <rule ref="WordPress"/>
    <rule ref="WordPress-Extra"/>
    <rule ref="WordPress-Docs"/>
    <config name="minimum_supported_wp_version" value="6.0"/>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="lcter-wc-points-loyalty"/>
        </properties>
    </rule>
</ruleset>
